* {
  box-sizing: border-box;
}

body {
  background-color: #d2dbdc;
  margin: 0;
  font-family: "Segoe UI", Helvetica Neue, Helvetica, Lucida Grande, Arial,
    Tahoma, Geneva, Verdana, sans-serif;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: #ededee;
}

.sidebar {
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header--avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.header--button {
  display: flex;
}

.contentearea {
}
